version: "3"

networks:
    service_net:
        ipam:
            config:
              - subnet: 172.16.239.0/24

services:

    #PostgreSQL
    postgres:
        image: postgres:latest
        container_name: postgres
        expose:
            - 5432
        ports:
            - "5432:5432"
        networks: 
            service_net:
                ipv4_address: 172.16.239.2
        environment:
            POSTGRES_PASSWORD: 123

    #Pgadmin4
    pgadmin:
        image: dpage/pgadmin4:latest
        container_name: pgadmin
        ports:
            - "4321:80"
        networks: 
            service_net:
                ipv4_address: 172.16.239.3
        environment:
            PGADMIN_DEFAULT_EMAIL: "user@domain.com"
            PGADMIN_DEFAULT_PASSWORD: "user"
        depends_on:
            - "postgres"